<a href="https://colab.research.google.com/github/usman-the-bloodborn-0/github_and_git_practice/blob/main/Methods_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Creating a list
fruits = ['apple', 'banana', 'cherry']

len(fruits)            # 3
max([1, 5, 2])         # 5
min([1, 5, 2])         # 1
sum([1, 2, 3])         # 6
sorted(fruits)         # ['apple', 'banana', 'cherry']
list('abc')            # ['a', 'b', 'c']

fruits.append('orange')       # ['apple', 'banana', 'cherry', 'orange']
fruits.extend(['kiwi', 'melon'])
fruits.insert(1, 'grape')     # Inserts at index 1
fruits.remove('banana')       # Removes first occurrence
fruits.pop()                  # Removes last item
fruits.clear()                # Clears all items
fruits = ['apple', 'apple', 'banana']
fruits.count('apple')         # 2
fruits.index('banana')        # 2
fruits.reverse()              # In-place reverse
fruits.sort()                 # In-place sort

# New Section

In [ ]:
t = (1, 2, 3, 2)

len(t)          # 4
max(t)          # 3
min(t)          # 1
sum(t)          # 8
tuple([1, 2])   # (1, 2)

t.count(2)      # 2
t.index(3)      # 2

2

In [ ]:
s = " Hello, World! "

len(s)              # 15
max("abc")          # 'c'
str(123)            # "123"
list("hi")          # ['h', 'i']

s.lower()           # " hello, world! "
s.upper()           # " HELLO, WORLD! "
s.strip()           # "Hello, World!"
s.replace("World", "Python")  # " Hello, Python! "
s.split(",")        # [' Hello', ' World! ']
",".join(['a', 'b'])  # 'a,b'
s.find("World")     # 8
s.startswith(" H")  # True
"abc123".isalnum()  # True
"123".isdigit()     # True
s.count("l")        # 3
"{}, {}".format("Hi", "there")  # "Hi, there"

'Hi, there'

In [ ]:
s = {1, 2, 3}

len(s)             # 3
max(s)             # 3
set("abc")         # {'a', 'b', 'c'}

s.add(4)           # {1, 2, 3, 4}
s.remove(2)        # Removes 2, error if not found
s.discard(5)       # No error if 5 not found
s.pop()            # Removes random item
s.clear()          # Empty set
a = {1, 2}; b = {2, 3}
a.union(b)         # {1, 2, 3}
a.intersection(b)  # {2}
a.difference(b)    # {1}
a.symmetric_difference(b)  # {1, 3}
a.issubset(b)      # False
a.issuperset(b)    # False

False

In [ ]:
d = {'name': 'Alice', 'age': 25}

len(d)               # 2
dict(name="Bob")     # {'name': 'Bob'}

d.get('name')            # 'Alice'
d.keys()                 # dict_keys(['name', 'age'])
d.values()               # dict_values(['Alice', 25])
d.items()                # dict_items([('name', 'Alice'), ('age', 25)])
d.update({'age': 26})    # Update value
d.pop('age')             # Removes and returns 'age'
d.popitem()              # Removes last inserted item
d.setdefault('city', 'NY')  # Adds 'city' if not exists
d.clear()                # Removes everything

In [ ]:
x = [1, 2, 3]

type(x)          # <class 'list'>
id(x)            # Memory address
isinstance(x, list)   # True
repr(x)          # '[1, 2, 3]'
str(x)           # '[1, 2, 3]'
print(x)         # [1, 2, 3]
input("Enter: ") # Takes user input as string

[1, 2, 3]
Enter: Usman

'Usman'

In [4]:
print(r'C:\Users\Admin\Documents\file.txt')

C:\Users\Admin\Documents\file.txt

In [7]:
print(b'C:\\dyyu\\.txt')

b'C:\\dyyu\\.txt'

In [ ]:
isinstance(False, int)

True

In [ ]:
for i in range(3):
  if i == 1:
   pass
  print(i)

0
1
2

In [ ]:
a = (1, 3)
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

# New Section

# New Section

In [ ]:
for i in range(3):
  if i == 1:
    pass
  print(i)

0
1
2

In [11]:
fruits = ['apple', 'cherry', 'banana']

for index, fruit in enumerate(fruits):
    print(fruit)

apple
cherry
banana

In [12]:
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

1 apple
2 cherry
3 banana

In [13]:
list(enumerate(fruits))

[(0, 'apple'), (1, 'cherry'), (2, 'banana')]

In [17]:
word = "hello"

for index, letter in enumerate(word, start=1000000):
    print(f"Letter {index} is {letter}")

Letter 1000000 is h
Letter 1000001 is e
Letter 1000002 is l
Letter 1000003 is l
Letter 1000004 is o

In [18]:
colors = ('red', 'green', 'blue')

for i, color in enumerate(colors):
    print(f"{i}: {color}")

0: red
1: green
2: blue

In [21]:
urls = ['https://site.com/page1', 'https://site.com/page2']

for idx, url in enumerate(urls, start=1):
    try:
        response = requests.get(url)
        print(f"{idx}: Success - {url}")
    except Exception as e:
        print(f"{idx}: Failed to fetch {url} – {str(e)}")

1: Failed to fetch https://site.com/page1 – name 'requests' is not defined
2: Failed to fetch https://site.com/page2 – name 'requests' is not defined